
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



header{
    background-color: #bc1919;
    text-align: center;
    color: whitesmoke;
}

nav ul {
    display: flex;
    gap: 1em;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
  
}

nav ul li {
    background-color: #bc1919;
    
}

nav ul li a {
    text-decoration: none;
    color: var(--headerkleur);
    font-weight: bold;
    display: block;
    padding: 1em;
    border-radius: 8px;
    transition: backgroundColor 0.5 ease-in-out;
}

 nav ul li a:hover {
   background-color: #fb6051;
   color: var (--headerkleur);

}

.taak {
    position: relative;
    color: whitesmoke;
    background-color: #fb6051 ;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1em;
}

button{
    position: absolute;
    top: 50%;
    right: 10px;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    position: absolute;
    
}

button i{
    font-size: 15px;
    color: black;
}


footer{
    background-color: #bc1919;

}

footer p {
    text-align: center;
    color: whitesmoke;
}