
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    margin: auto;
   
    justify-content: center;
   
   
}


header{
    background-color: #f01d1dce;
    text-align: center;
    color: white;
}

nav ul {
    display: flex;
    gap: 1em;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
  
}

nav ul li.hier a {
    background-color: #fb6051;
}

nav ul li a {
    text-decoration: none;
    color: var(--headerkleur);
    font-weight: bold;
    display: block;
    padding: 1em;
    border-radius: 8px;
    transition: backgroundColor 0.5 ease-in-out;
}

 nav ul li a:hover {
   background-color: #fb6051;
   color: var(--headerkleur);

}


label{
    display: block;
   margin-bottom: 5px;
   margin-top: 20px;
   margin-left: 2em;
   font-size: 16px;
   font-weight: bold;
   
}



.bewerk-input {
    
    font-weight: bold;
    position: relative;
    color: white;
    background-color: #fb6051 ;
    padding: 1em;
    border-radius: 8px;
    width: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 2em;
}

input {
    
    font-size: 16px;
    font-weight: bold;
    position: relative;
    color: white;
    background-color: #fb6051 ;
    padding: 0.8em;
    border-radius: 8px;
     margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 2em;
}


.taak {
   
    position: relative;
    color: white;
    background-color: #fb6051 ;
    padding: 1em;
    border-radius: 8px;
    
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 2em;
   
}



.taak-label {
    color: white;
    font-size: large;
  
}



h2 {
    color: white;
    margin-left: 1em;
    margin-top: 30px;
}


ul.statistieken {
    color: white;
    list-style-type: none;
    margin-left: 2em;
    margin-top: 20px;
    margin-bottom: 2em;
}


   



button i{
    font-size: 15px;
    color: black;
    
}



.melding {
    color: white;
    margin-top: 20px;
    font-weight: bold;
   
}


.prioriteit {
    color: white;
   

}

.prioriteit select {
    background-color: #fb6051;
    color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    padding: 0.5 em;
    font-size: 1em;
    font-weight: bold;
    width: 30%;
    margin-left: 50px;
}

button{
    color: white;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 8px;
    background-color: #fb6051;
    margin-top: 20px;
     margin-left: auto;
     margin-right: 0;
     display: block;
    font-weight: bold;
    
        
    }


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fe857a;
}


footer{
    background-color: #f01d1dce;
    padding: 1em;
    margin-top: auto;
  
   
    
}

footer p {
    text-align: center;
    color: whitesmoke;
}
